@using System.Web.Mvc.Html
@model MVCDepartment.Models.Schedule

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Schedule</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Term)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Term)
            @Html.ValidationMessageFor(model => model.Term)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Discipline.Name)
        </div>
        <div class="editor-field">
            @Html.DropDownList("discipline_id", (SelectList)ViewBag.Disciplines)
            @Html.ValidationMessageFor(model => model.Discipline.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LecturesSum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LecturesSum)
            @Html.ValidationMessageFor(model => model.LecturesSum)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LabsSum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LabsSum)
            @Html.ValidationMessageFor(model => model.LabsSum)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PracticesSum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PracticesSum)
            @Html.ValidationMessageFor(model => model.PracticesSum)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ExamWorksSum)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ExamWorksSum)
            @Html.ValidationMessageFor(model => model.ExamWorksSum)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Classroom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Classroom)
            @Html.ValidationMessageFor(model => model.Classroom)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
